version: "3.9"

services:
  backend:
    build: .
    container_name: nest_backend
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

  db:
    image: postgres:15
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: newdatabase
      POSTGRES_USER: Haider_Ali
      POSTGRES_PASSWORD: zentrofebe123
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres_data:
